html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: #0d1117;
}

.app-container {
  width: 95%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.content-layout {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  background-color: #161b22;
  border-bottom: 1px solid #1e222d;
  margin-top: 25px;
  border-bottom: "1px solid #21262d";
  border-top: "1px solid #21262d";
}

/* Ticker Track - Moves the dual copies seamlessly */
.marquee-track {
  display: flex;
  gap: 10px; /* Uniform spacing between your global asset text blocks */
  animation: scroll-left-marquee 35s linear infinite; /* Adjusted speed for readability */
  padding-right: 50px;
}

/* Pause effect on hover so you can read a value carefully */
.marquee-container:hover .marquee-track {
  animation-play-state: paused;
}

/* The Infinite Loop Loop Formula */
@keyframes scroll-left-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(
      -50%
    ); /* Resets exactly halfway through the duplicated array */
  }
}
